.l5{
    background-color: black;
}
.l1 {
background-color: blue;
text-decoration: solid;
text-align: center;
color: antiquewhite;
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-left: 300px;
margin-right: 300px;
font-size: medium;
}
.l2 {
    background-color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: beige;
    padding: 3%;
}
 .l3{
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: 50px;
 }

 .l4{
    background-color: chartreuse;
    font-family: cursive;
 }